/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f9f8e4;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 100%;
  height: auto;
  position: relative;
  background: #f9f8e4;
  padding: 50px 0;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}
h1,
h2 {
  font-family: 'Abril Fatface', cursive;
}
h2 {
  margin-bottom: 1em;
}
button {
  padding: 0.3em 2em;
  background: transparent;
  border: 1px solid #70532d;
  border-radius: 17px;
  transition: all 0.5s ease;
}
button:hover {
  background-color: #70532d;
  color: #fff;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
  display: inline;

  color: #fff;
  margin: 0 1em;
  padding: 0.2em 0.5em;
}
.row {
  margin: auto;
}
/* color declaration */
h1,
h2 {
  color: #a38156;
}
h1 span,
h2 span,
button,
nav span,
.sponser h3 {
  color: #70532d;
}
ul li,
footer {
  background-color: #70532d;
}
/* class styles */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #f9f8e4;
  padding-top: 1em;
}
nav span {
  font-family: 'Sriracha', cursive;
  font-size: 1.2em;
}
section {
  width: 100%;
  height: auto;
  position: relative;
  background: #f9f8e4;
}
.landing-page {
  padding: 50px 0;
}
.landing-page .row .col-md-6 {
  position: relative;
}
.landing-page .row .col-md-6 header {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-page .row .col-md-6 header h1 {
  font-size: 3.3em;
}

.landing-page .row .col-md-6 header p {
  margin: 1em 0;
}

.landing-page .row figure img {
  width: 60%;
}
.landing-page img,
.form-section img {
  z-index: 99;
  animation: imgAnimation 3s infinite 0s ease-in-out;
}
@keyframes imgAnimation {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
/* benifit section */
.benifit-section {
  text-align: center;
  padding: 50px 0;
}
.benifit-section figure {
  height: 150px;
}
.benifit-section img {
  width: 40%;
}
/* instructor */
.instructor .col-md-4,
.instructor .col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.instructor ul li:first-of-type {
  margin-left: 0;
}
.instructor img {
  width: 80%;
}
/* form section */
.form-section {
  padding: 50px 0;
}
.form-section figure img {
  width: 80%;
}
.form-section h2 {
  text-align: center;
  margin-bottom: 2em;
}
.bunty a {
  text-align: center;
  margin-bottom: 2em;
  font-family: 'Abril Fatface', cursive;
   color: #a38156;
}
.form-control {
  background: transparent;
  border: 1px solid #a3825660;
}
.form-control:focus {
  background: transparent;
  box-shadow: none;
  border: 1px solid #70532d;
}
/* sponser */
.sponser {
  text-align: center;
}
.sponser .visit {
  margin: 1em 0 0 0;
}
.sponser button {
  border-radius: 01;
  font-size: 1.5em;
}
footer {
  padding: 0.5em;
  color: #fff;
  text-align: center;
}
@media (max-width: 600px) {
  section {
    padding: 20px 0;
  }
  ul li {
    background-color: transparent;
    color: #70532d;
    margin: 0 0.5em;
    padding: 0.2em;
  }
  .landing-page .row .col-md-6 header {
    width: 100%;
    position: relative;
    text-align: center;
  }
  .landing-page .row .col-md-6 header h1 {
    font-size: 2.5em;
  }
  .landing-page .row figure img {
    width: 80%;
  }
  .benifit-section .col-md-4 {
    padding: 0;
    margin: 1em 0;
  }
  .benifit-section figure {
    height: auto;
  }
  .instructor img {
    width: 50%;
  }
  button {
    margin-bottom: 1em;
  }
  .sponser button {
    font-size: 1em;
    padding: 0.2em 0.5em;
  }
}
